body {
  font-family: Calibri Light; }

header {
  display: flex;
  flex-flow: column; }

#header_images {
  background-color: #FFF3F3;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 20px; }

#img_logo_insuranceCF {
  padding-top: 20px; }

nav {
  background-color: #8E1616;
  font-size: 20pt; }

ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px; }

li {
  display: inline; }

li a {
  padding: 10px;
  color: white;
  text-decoration: none; }

main {
  background: url(img/nightroad.jpg);
  background-size: 100%;
  display: flex;
  flex-flow: column; }

input {
  height: 20px;
  width: 230px; }

#age::placeholder {
  font-size: 150%; }

#name::placeholder {
  font-size: 150%; }

#horsepower_car::placeholder {
  font-size: 150%; }

#Country {
  font-size: 12pt; }

h1 {
  color: white;
  font-size: 30pt;
  margin-left: 20px; }

#container1 {
  display: flex;
  flex-flow: column;
  border: 2px solid grey;
  align-items: center;
  background: white;
  opacity: 0.8;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: -20px; }

form {
  text-align: center; }

h2 {
  font-size: 30pt;
  color: #292929; }

#bottom_section {
  height: 30px;
  background: lightgrey, url(img/nightroad.jpg);
  width: 100%; }

#container2 {
  display: inline;
  background: lightgrey;
  font-color: grey;
  width: 100%;
  margin-top: -20px;
  text-align: center; }

#Result {
  font-size: 14pt;
  font-weight: bold; }

button {
  background-color: #32A23D;
  width: 120px;
  height: 50px;
  color: white;
  font-size: 14pt;
  border: none;
  border-radius: 3px; }

#h_uncomplicated {
  font-size: 18pt; }

#p_uncomplicated {
  font-size: 16pt; }

#TwoBoxes {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-top: 10px; }

.box {
  display: flex;
  flex-flow: column;
  width: 256px;
  padding-left: 20px;
  box-shadow: 1px -4px 3px 0px rgba(0, 0, 0, 0.75); }

.box div h3 {
  margin-bottom: 0px; }

.box div p {
  margin-top: 0px; }

.box div {
  margin-right: 10px; }

footer {
  background-color: black; }

footer ul li {
  color: white; }

footer div p {
  color: white;
  text-align: center; }

#footer_logo {
  text-align: right; }

#div_FormulaButton {
  display: inline;
  position: absolute;
  right: 10px; }

#FormulaButton {
  color: black;
  background-color: white;
  width: 150px; }

@media screen and (max-device-width: 1600px) {
  input {
    height: 50px !important; }

  #Country {
    height: 50px; } }
@media screen and (max-width: 900px) {
  body {
    width: 100%; }

  main {
    width: 100%; }

  #container1 {
    width: 80%; }

  #container2 {
    width: 100%; }

  #img_FSWD {
    display: none; }

  h2 {
    font-size: 24pt; }

  nav {
    font-size: 16pt; } }
@media screen and (max-width: 480px) {
  body {
    width: 100%; }

  main {
    width: 100%; }

  #container1 {
    width: 80%;
    margin-left: 20px;
    align-items: center; }

  #container2 {
    width: 100%; }

  #img_FSWD {
    display: none; }

  h2 {
    font-size: 20pt;
    text-align: center; }

  nav {
    font-size: 14pt; }

  h1 {
    font-size: 24pt; }

  #p_uncomplicated {
    font-size: 11pt; }

  #h_uncomplicated {
    font-size: 14pt; }

  #TwoBoxes {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 20px; }

  .box {
    margin-top: 10px; } }

/*# sourceMappingURL=style_CodeReview3.css.map */
